@media(min-width:992px)and (max-width:1199px){
 .banner-text h1 {

	font-size: 120px;
	
}   
}
@media(min-width:768px)and (max-width:991px){
    
   .navbar {
        padding: 10px 1rem;

    }

    .navbar-toggler i {
        color: #fff;
        font-size: 20px;


    }

    .navbar-nav {
        background: #4ab7a6;
        text-align: center;
    }

    .navbar-expand-lg .navbar-nav .nav-link:after {
        left: 50%;
        transform: translateX(-50%)
    }

    .navbar-expand-lg .navbar-nav .nav-link:hover:after {
        width: 20%;
    }

    .banner-text h3 {

        font-size: 40px;

    }

    .banner-text h1 {

        font-size: 50px;

        line-height: 60px;
        padding-bottom: 80px;

    }

    #banner {

        padding-top: 130px;
        padding-bottom: 130px;

    }  
    #about {
        padding-top: 45px;
        padding-bottom: 55px;
    }
     #counter-main {

        padding-top: 45px;
        padding-bottom: 45px;
    }

    #service {
        padding-top: 55px;
    }
     .service-item {
        
        padding-bottom: 40px;
    }
    .feedback-item i {

	width: 120px;
height: 120px;
	line-height: 120px;

	font-size: 50px;
	margin-left: 20px;

}
    #feedback{
      padding-top: 40px;
        padding-bottom: 35px;
    }
    #team {
	padding-top: 50px;
}
   .team-overlay i {
	width: 45px;
	height: 45px;
	line-height: 45px;
} 
    #work {
        padding-top: 50px;
        padding-bottom: 0px;
    } 
    .footer-item h3 {
	
	padding-top: 20px;
}
    #footer {
	
	padding-top: 40px;
	padding-bottom: 35px;
}
}
@media(min-width:576px)and (max-width:767px){
   .navbar {
        padding: 10px 1rem;

    }

    .navbar-toggler i {
        color: #fff;
        font-size: 20px;


    }

    .navbar-nav {
        background: #4ab7a6;
        text-align: center;
    }

    .navbar-expand-lg .navbar-nav .nav-link:after {
        left: 50%;
        transform: translateX(-50%)
    }

    .navbar-expand-lg .navbar-nav .nav-link:hover:after {
        width: 20%;
    }

    .banner-text h3 {

        font-size: 34px;

    }

    .banner-text h1 {

        font-size: 38px;

        line-height: 60px;
        padding-bottom: 80px;

    }

    #banner {

        padding-top: 130px;
        padding-bottom: 130px;

    }
   #about {
        padding-top: 45px;
        padding-bottom: 55px;
    }
    #counter-main {

        padding-top: 45px;
        padding-bottom: 45px;
    }

    #service {
        padding-top: 55px;
    }
     .service-item {
        
        padding-bottom: 40px;
    }
    .head {
	padding-bottom: 40px;
}
    .service-item h3 {
	padding-top: 15px;
}
    .feedback-item i {
	
	width: 100px;
	height: 100px;

	line-height: 100px;
	
}
    .feedback-item p {
	font-size: 15px;
	line-height: 30px;

}
    .feedback-main .left {
        display: none !important;
    }

    .feedback-main .right {
        display: none !important;
    }
    #feedback{
        padding-top: 40px;
        padding-bottom: 35px;
    }
    #team {
	padding-top: 50px;
}
  #work {
        padding-top: 45px;
        padding-bottom: 0px;
    }   

 #footer {

        padding-top: 40px;
        padding-bottom: 40px;
    }
    .insta img {
        padding-bottom: 0px;

    }
     .blog-content {
        text-align: center
    }
.footer-item h3 {
        text-align: center;
        padding-top: 15px;
    }
    
}
@media(max-width:575.98px) {
    .navbar {
        padding: 10px 1rem;

    }

    .navbar-toggler i {
        color: #fff;
        font-size: 20px;


    }

    .navbar-nav {
        background: #4ab7a6;
        text-align: center;
    }

    .navbar-expand-lg .navbar-nav .nav-link:after {
        left: 50%;
        transform: translateX(-50%)
    }

    .navbar-expand-lg .navbar-nav .nav-link:hover:after {
        width: 20%;
    }

    .banner-text h3 {

        font-size: 34px;

    }

    .banner-text h1 {

        font-size: 38px;

        line-height: 60px;
        padding-bottom: 80px;

    }

    #banner {

        padding-top: 130px;
        padding-bottom: 130px;

    }

    .head h2 {

        font-size: 24px;

    }

    #about {
        padding-top: 45px;
        padding-bottom: 55px;
    }

    .head {
        padding-bottom: 40px;
    }

    .about-item {

        margin-bottom: 20px;
    }

    #counter-main {

        padding-top: 45px;
        padding-bottom: 45px;
    }

    #service {
        padding-top: 55px;
    }

    .service-item {
        text-align: center;
        padding-bottom: 40px;
    }

    .service-item h3 {

        padding-top: 20px;
    }

    .feed-icon {
        text-align: center;
    }

    .feedback-item p {
        padding-top: 20px;
        font-size: 15px;
        text-align: center;
    }

    .feedback-item h4 {
        text-align: right;
    }

    .feedback-item h4::after {

        left: 120px;

    }

    .feedback-main .left {
        display: none !important;
    }

    .feedback-main .right {
        display: none !important;
    }

    #team {
        padding-top: 50px;
    }

    #work {
        padding-top: 45px;
        padding-bottom: 0px;
    }

    #footer {

        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer-item h5 i {
        margin-left: 10px;
    }

    .footer-item h3 {
        text-align: center;
        padding-top: 15px;
    }

    .blog-content {
        text-align: center
    }

    .footer-item img {
        padding-bottom: 22px;
    }

    .more {

        padding-top: 30px;
    }

    .insta img {
        padding-bottom: 0px;

    }
    .sub button {
	padding: 15px 5px;

}
}
